HOST: https://api.github.com/

--- Github API v3 partial ---

---
Just a small step of GH API for testing purposes
---

--
Users
--

GET /users/{username}
< 200
< Content-Type: application/json; charset=utf-8
{
  "type": "User"
}
+++++
< 304
< Content-Type: application/json; charset=utf-8


GET /orgs/{org}
< 200
< Content-type: application/json; charset=utf-8
{
  "login": "github",
  "id": 9919,
  "url": "https://api.github.com/orgs/github",
  "repos_url": "https://api.github.com/orgs/github/repos",
  "events_url": "https://api.github.com/orgs/github/events",
  "members_url": "https://api.github.com/orgs/github/members{/member}",
  "public_members_url": "https://api.github.com/orgs/github/public_members{/member}",
  "avatar_url": "https://secure.gravatar.com/avatar/61024896f291303615bcd4f7a0dcfb74?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png",
  "name": "GitHub",
  "company": null,
  "blog": "https://github.com/about",
  "location": "San Francisco, CA",
  "email": "support@github.com",
  "public_repos": 87,
  "public_gists": 0,
  "followers": 12,
  "following": 0,
  "html_url": "https://github.com/github",
  "created_at": "2008-05-11T04:37:31Z",
  "updated_at": "2013-01-22T23:58:23Z",
  "type": "Organization"
}
+++++
< 304
< Content-Type: application/json; charset=utf-8


GET /orgs/{org}/members
< 200
< Content-type: application/json; charset=utf-8
[{
    "login": "Octocar",
    "type": "User"
}]


-- JSON Schema Validations --

GET /users/{username}
{
    "response": {
        "type": "object",
        "properties": {
            "login": { "type": "any" },
            "avatar_url": { "type": "string" },
            "gravatar_id": { "type": "string" },
            "url": { "type": "string" },
            "type": { "type": "string" },
            "hireable": { "type": "boolean" },
            "public_repos": { "type": "integer" },
            "followers": { "type": "integer" },
            "followings": { "type": "integer" },
            "public_gists": { "type": "integer" },
            "id": { "type": "integer" }
        }
    }
}

GET /orgs/{org}
{
    "response": {
        "type": "object",
        "properties": {
            "login": { "type": "any" },
            "id": { "type": "integer" },
            "url": { "type": "string" },
            "repos_url": { "type": "string" },
            "events_url": { "type": ["string", "null"] },
            "members_url": { "type": ["string", "null"] },
            "public_members_url": { "type": "string" },
            "avatar_url": { "type": ["string", "null"] },
            "name": { "type": ["string", "null"] },
            "company": { "type": ["string", "object", "null"] },
            "blog": { "type": ["string", "null"] },
            "location": { "type": ["string", "null"] },
            "email": { "type": ["string", "null"] },
            "public_repos": { "type": "integer" },
            "public_gists": { "type": "integer" },
            "followers": { "type": "integer" },
            "following": { "type": "integer" },
            "html_url": { "type": "string" },
            "created_at": { "type": "date" },
            "updated_at": { "type": "date" },
            "type": { "type": "string" }
        }
    }
}

GET /orgs/{org}/members
{
"response": {
        "type": "array",
        "items": {
            "title": "Product",
            "type": "object",
            "properties": {
                "id": { "type": "integer" },
                "login": { "type": "string" },
                "type": {"type": "string" }
            },
            "required": ["id", "login", "type"]
        }
    }
}

