FORMAT: 1A
HOST: http://www.google.com

# Boyard
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

Let's use TogetherJS for collaboration.
<style> header {min-width: 0;} #container header {min-width: 1020px; } #start-togetherjs { padding: 5px; display: inline-block; color: #fff !important; }</style>

<a href="#" class="hidden newButton blue" id="start-togetherjs">Start TogetherJS</a>

<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script>
$(function () {
  $("#start-togetherjs").removeClass("hidden").click(TogetherJS);
});
</script>


# Group Notes
Notes related resources of the **Notes API**

## Notes Collection [/notes]
### Info about all Notes [HEAD]
+ Response 200

    + Headers
    
            X-Notes-Count: 2

### List all Notes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Jogging in park"
        }, {
          "id": 2, "title": "Pick-up posters from post-office"
        }]

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}/{?since}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.
    + since (optional, string) ... From time in format `YYYY-MM-DD`

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
